# Exclude All
/*

# Explicit includes
!.husky
!.github
!.vscode
!@types
!src
!test
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.mocharc.js
!.npmrc
!.nycrc
!CHANGELOG.md
!Dockerfile
!docker-compose.yml
!Makefile
!package-lock.json
!package.json
!README.md
!tsconfig.json

# Artifacts
.DS_Store
