# Exclude All
**

# Explicit includes
!.github/
!.github/**
!.vscode/
!.vscode/**
!@types/
!@types/**
!src/
!src/**
!test/
!test/**
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.mocharc.js
!.nycrc
!CHANGELOG.md
!Dockerfile
!docker-compose.yml
!Makefile
!package-lock.json
!package.json
!README.md
!tsconfig.json

# Artifacts
.DS_Store
